:root {
    --primary: #00657e;
    --secondary: #82b2cf;
    --tertiary: #cdddeb;
    --black: #222;
    --white: #fff;
    --red: #dc3545;
    --lightred: #fff6f5;
    --yellow: #ffdf7e;
    --lightyellow: #fffbea;
    --darkyellow: #f0b100;
    --green: #28a745;
    --gray: #798486;
    --lightgray: #e5e5e5;
    --light: #f9f9f9;
    --dark: #343a40;
    --darkbg: #001317;
    --darkfg: #fff;
    --max-width: 55rem;
}

body {
    color: var(--black, black);
    background-color: var(--white, white);
    font-family: -apple-system,Arial,sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary, darkblue);
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}

p, h1, h2, h3, h4 {
    margin-bottom: 0;
}
p, li, dt, dd {
    line-height: 1.4em;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid var(--lightgray, silver);
    margin: 2rem 0;
}

dt {
    font-weight: bold;
    margin-top: 1em;
}

.center {
    text-align: center;
}

.quote {
    color: var(--gray, gray);
    font-style: italic;
    font-size: 1.2em;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
.quote::before {
    content: "„";
    padding-right: 0.2em;
    font-size: 2em;
    font-weight: bold;
}

.caption {
    display: inline-block;
    font-size: 80%;
    font-style: italic;
    color: var(--gray, gray);
}

.definition, .note, .warning {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: -1rem;
    margin: 1.5rem 0 0 0;
    padding: 1rem;
    width: 100vw;
    max-width: calc(var(--max-width) + 2rem);
    background-color: var(--light, lightgray);
    border-left: 1rem solid var(--lightgray, silver);
}
.definition p:first-child, .note p:first-child, .warning p:first-child {
    padding-top: 0;
    margin-top: 0;
}
.note {
    background-color: var(--lightyellow, lightyellow);
    border-left: 1rem solid var(--yellow, gold);
    font-style: italic;
}
.note .title {
    color: var(--darkyellow, gold);
}
.warning {
    background-color: var(--lightred, mistyrose);
    border-left: 1rem solid var(--red, crimson);
    font-style: italic;
}
.warning .title {
    color: var(--red, crimson);
}
.definition code, .note code, .warning code {
    font-style: initial;
}

.button-outline-primary, .button-outline-secondary {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray, gray);
    border-radius: 2rem;
}
a.button-outline-primary, a.button-outline-secondary {
    text-decoration: none;
}
a.button-outline-primary:hover, a.button-outline-primary:active {
    background-color: var(--primary, darkblue);
    color: var(--white, white);
}
a.button-outline-secondary:hover, a.button-outline-secondary:active {
    background-color: var(--secondary, lightblue);
    color: var(--white, white);
}
a.button-outline-primary.disabled, a.button-outline-secondary.disabled {
    cursor: default;
    border-color: var(--lightgray, silver);
    background-color: var(--white, white);
    color: var(--lightgray, silver);
}
.button-outline-primary {
    border-color: var(--primary, darkblue);
}
a.button-outline-secondary {
    color: var(--secondary, lightblue);
}
.button-outline-secondary {
    border-color: var(--secondary, lightblue);
}

.header > .container, .main, .footer > .container {
    max-width: var(--max-width, 100%);
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--primary, darkblue);
    border-top: 0.3rem solid var(--secondary, lightblue);
}
.header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav a {
    display: block;
    position: relative;
    padding: 2rem 1rem;
    text-decoration: none;
    color: var(--tertiary, silver);
}
.nav a:hover, .nav a:active {
    color: var(--white, white);
}
.nav a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -0.5rem;
    vertical-align: middle;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--white, white);
    border-left: 0.5rem solid transparent;
}
.nav a.extended {
    display: none;
}
.ext-links {
    padding: 0 1rem;
    white-space: nowrap;
}
.ext-links img {
    height: 2rem;
}
.ext-links a {
    display: inline-block;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.main {
    padding: 0 1rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
.main img {
    max-width: 100%;
    margin: 1rem 0;
}
.main img ~ .caption {
    position: relative;
    top: -1rem;
}
.blog-title {
    font-size: 1.8em;
}
.blog-description {
    color: var(--gray, gray);
    margin-bottom: 2rem;
}
.blog-post {
    margin-bottom: 3rem;
}
.blog-post h2, .blog-post h3, .blog-post h4 {
    margin-top: 1.7em;
}
.blog-post__title a {
    color: inherit;
}
.blog-post__title {
    margin-bottom: 0.3em;
}
h1.blog-post__title {
    font-size: 1.7em;
}
h2.blog-post__title {
    font-size: 1.3em;
    margin-top: 1em;
}
.blog-post__meta {
    color: var(--gray, gray);
    margin: 0;
    line-height: initial;
}

.footer {
    border-top: 1px solid var(--lightgray, silver);
    background-color: var(--light, lightgray);
}
.footer > .container {
    padding: 2rem;
    text-align: center;
    color: var(--gray, gray);
}
.footer__extended {
    padding: 0 0.5rem;
    display: none;
}
.footer__menu a {
    padding: 0 0.5rem;
}

.blog-tags {
    text-align: center;
    margin-bottom: 2rem;
}
.blog-tags .tag, .search-tags .tag {
    color: var(--gray, steelblue);
    border: 1px solid var(--lightgray, lightblue);
    border-radius: 0.5em;
    background-color: var(--lightgray, lightblue);
    padding: 0.3em 1em;
    margin-right: 0.2rem;
    margin-bottom: 0.3rem;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}
.blog-tags .tag {
    font-size: 80%;
}
.blog-tags .tag:hover, .search-tags .tag:hover {
    color: var(--lightgray, lightblue);
    border-color: var(--gray, steelblue);
    background-color: var(--gray, steelblue);
}

pre,
code,
.syntaxhighlighter {
    border: 1px solid var(--lightgray, silver) !important;
    border-radius: 5px;
    background-color: var(--light, lightgray) !important;
}
pre,
.syntaxhighlighter {
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    margin: 2rem 0 !important;
    padding: 1rem 0 !important;
}
.syntaxhighlighter .gutter {
    display: none;
}
pre {
    padding: 1rem !important;
    overflow: auto;
}
code {
    padding: 0.2em 0.5em;
    vertical-align: middle;
    white-space: nowrap;
}

@media (min-width: 42rem) {
    
    body {
        font-size: 1.3em;
    }
    .nav {
        padding: 0 1rem;
    }
    .nav a.extended {
        display: block;
    }
    .ext-links {
        padding: 0 2rem;
    }

    .main {
        padding: 0 2rem;
    }
    .main img {
        margin: 2rem 0;
    }
    .main img ~ .caption {
        position: relative;
        top: -2rem;
    }
    .blog-description {
        margin-bottom: 3rem;
    }
    .quote {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .footer > .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer__extended {
        display: block;
    }

    .blog-title {
        font-size: 2.5em;
    }
    .blog-description {
        font-size: 1.3em;
    }
    .blog-tags {
        text-align: right;
    }    
    .search-tags {
        margin-bottom: 3rem;
    }

    .syntaxhighlighter .gutter {
        display: initial;
    }
}

.dark {
    background-color: var(--darkbg, #000);
    color: var(--darkfg, #fff);
}
.dark .nav a.active::after {
    border-bottom-color: var(--darkbg, #000);
}
.dark .main .blog-post p a, .dark .main .blog-post li a, .dark .main .blog-post dt a, .dark .main .blog-post dd a, .dark .footer a {
    color: var(--secondary, lightblue);
}
.dark .main .blog-post img {
    box-sizing: border-box;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}
.dark .definition, .dark .note, .dark .warning, .dark code, .dark pre {
    color: initial;
}
.dark a.button-outline-primary.disabled, .dark a.button-outline-secondary.disabled {
    border-color: var(--dark, gray);
    background-color: inherit;
    color: var(--dark, gray);
}
.dark .footer {
    background-color: var(--dark, #222);
}

.blog-comments {
    clear: both;
}
.blog-comments .leave-message {
    margin: 1em 0 2em;
}
.blog-comments .comment .author {
    font-weight: bold;
    padding-right: 1em
}
.blog-comments .comment .createdAt {
    font-style: italic
}
.blog-comments .comment .body {
    white-space: pre-line
}
.blog-comments .comment .answers {
    border-left: 1em solid lightgray;
}
.blog-comments .mb-3 {
    margin-bottom: 1rem!important;
}
.blog-comments .card {
    word-wrap: break-word;
    background-color: #fff;
    color: #000;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.blog-comments .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.blog-comments .card-body {
    padding: 0 1.25rem 1.25rem;
}
.blog-comments .comment .answers .bg-light {
    background-color: var(--light, #f8f9fa);
}
.blog-comments .comment .answers .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.blog-comments .comment .answers .author {
    font-weight: bold;
    padding-right: 1em;
}