<h1 class="blog-title">{{page.title}}</h1>
<p class="blog-description">{{page.description}}</p>
<hr>

{{newest}}

<hr>

{{highlights}}

{{{post
<div class="blog-post">
    <h2 class="blog-post__title">
        <a href="/{{uri}}/" class="h2">{{title}}</a>
    </h2>
    <p class="blog-post__meta">
        {{createdAt}} by {{author}}
    </p>
    <div><p>{{summary}}</p></div>
</div>
}}}

<nav class="blog-pagination">
    <a class="button-outline-primary" href="/1/">Older</a>
    <a class="button-outline-secondary disabled" href="#">Newer</a>
</nav>