<!doctype html>
<html lang="en">
<head>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{page.author}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tomas_tulka">
    <meta name="twitter:creator" content="@tomas_tulka">
    <meta name="twitter:title" content="{{page.title}} by {{page.author}}">
    <meta name="twitter:image:src" content="https://blog.ttulka.com/assets/img/blog.jpg">
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{page.title}} by {{page.author}}" />
    <meta property="og:image" content="https://blog.ttulka.com/assets/img/blog.jpg">

    <link href="/assets/css/syntaxhighlighter.css" rel="stylesheet">
    <link href="/assets/css/blog.2.7.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        <div class="ext-links">
            <a href="https://twitter.com/tomas_tulka"><img src="/assets/img/twitter.png"></a>
            <a href="https://github.com/ttulka"><img src="/assets/img/github.png"></a>
            <a href="#" class="theme"><img src="/assets/img/theme.png"></a>
        </div>
    </div>
</header>

<main class="main">

    {{content}}

</main>

<footer class="footer">
    <div class="container">
        <div class="footer__extended">© 2021 Tomas Tulka (ttulka)</div>
        <div class="footer__menu">
            <a href="/">Home</a> |
            <a href="/privacypolicy/">Privacy Policy</a>
        </div>
    </div>
</footer>

<script src="/assets/js/darktheme.js"></script>
<script src="/assets/js/syntaxhighlighter.min.js" defer></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKWY8T55EM"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZKWY8T55EM');
</script>

</body>
</html>