{{posts}}

{{{post
<div class="blog-post">
    <h2 class="blog-post__title">
        <a href="/{{uri}}/" class="h2">{{title}}</a>
    </h2>
    <p class="blog-post__meta">
        {{createdAt}} by {{author}}
    </p>
    <div><p>{{summary}}</p></div>
</div>
}}}

{{pagination}}

{{{pagination
<nav class="blog-pagination">
    <a class="button-outline-primary" href="{{older}}">Older</a>
    <a class="button-outline-secondary" href="{{newer}}">Newer</a>
</nav>
}}}
{{{paginationFirst
<nav class="blog-pagination">
    <a class="button-outline-primary" href="{{older}}">Older</a>
    <a class="button-outline-secondary disabled" href="#">Newer</a>
</nav>
}}}
{{{paginationLast
<nav class="blog-pagination">
    <a class="button-outline-primary disabled" href="#">Older</a>
    <a class="button-outline-secondary" href="{{newer}}">Newer</a>
</nav>
}}}
{{{paginationSingle
<nav class="blog-pagination">
    <a class="button-outline-primary disabled" href="#">Older</a>
    <a class="button-outline-secondary disabled" href="#">Newer</a>
</nav>
}}}